{% extends "layout.html" %}
{% block body %}

<div class="container">
  
  
  
  <!--<form class="form-signin" action="{{ url_for('login') }}" method="post">-->
  <!--  <h2 class="form-signin-heading">Login</h2>-->
  <!--  <dl>-->
  <!--    <dt>Username:-->
  <!--    <dd><input type="text" name="username">-->
  <!--    <dt>Password:-->
  <!--    <dd><input type="password" name="password">-->
  <!--    <dd><input type="submit" value="Login">-->
  <!--  </dl>-->
  <!--</form>-->
  
  
  <form class="form-signin" action="{{ url_for('login') }}" method="post">
        <h1 align="center" class="form-signin-heading">Bienvenido</h1>
        {% if error %}
          <p class="error">
            <strong>Error:</strong>
            {{ error }}
        {% endif %}
        <label for="inputEmail" class="sr-only">Usuario</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="Usuario" name="username" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Contraseña</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Contraseña" name="password" required="">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Recordar mis datos
          </label>
        </div>
        <button class="btn btn-lg btn-success btn-block" value="Login" type="submit">Ingresar</button>
      </form>
  
</div>


{% endblock %}