{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
  
  
  <div class="table-responsive">
 <table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Username</th>
      <th>Last Name</th>
      <th>Username</th>
      <th>Last Name</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>
</div>
  
  <div class="table-responsive">


  <table class="table">
    <thead>
    <tr>
      <!--<th>id_poliza</th>-->
      <th>Poliza</th>
      <th>Fecha Vencer</th>
      <!--<th>costo_renovacion</th>-->
      <th>Cliente</th>
      <!--<th>telefono</th>-->
      <!--<th>correo</th>-->
      <!--<th>direccion</th>-->
      <!--<th>estatus</th>-->
    </tr>
  </thead>
  
  <tbody>
    {% for current in renovadas %}
     <form action="{{ url_for('update') }}" method="post" >
      {% if  current.peligro  == 1  %}
      <tr class="danger">
        {% else %}
      <tr class="info">  
        {% endif %}
      <!--<td>{{ current.id_poliza }}</td>-->
      <td>{{ current.no_poliza }}</td>
      <td>{{ current.fecha_vencimiento }}</td>
      <!--<td>{{ current.costo_renovacion }}</td>-->
      <td>{{ current.nombre_cliente }}</td>
      <!--<td>{{ current.telefono }}</td>-->
      <!--<td>{{ current.correo }}</td>-->
      <!--<td>{{ current.direccion }}</td>-->
      <!--<td>{{ current.estatus }}</td>-->
      <td><button type="submit"  name="id" value={{ current.id_poliza }} >Actualizar</button></td>
    </tr>    
    </form>
    {% endfor %}
   </tbody>
  </table>
  </div>
  {% endif %}
{% endblock %}