{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_estatus) }}" method="post" class="add-estatus">
      <dl>
        <dt>Id:
        <dd><input type="text" size="30" name="id">
        <dt>descripcion:
        <dd><textarea name="descripcion" rows="5" cols="40"></textarea>
        <dd><input type="submit" value="Insertar">
      </dl>
    </form>
  {% endif %}
  <ul class="estatus">
  {% for estatus in catalogo_estatus %}
     <form action="{{ url_for('delete_estatus') }}" method="post" class="delete-estatus">
      <li><h2>{{ estatus.id }}</h2>{{ estatus.descripcion }}
      <button type="submit"  name="id" value={{ estatus.id }} >Delete</button>
    </form>
  {% else %}
    <li><em>Sin estatus</em>
  {% endfor %}
  </ul>
{% endblock %}